/* .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

.detail{
    text-align: center;
    padding:0 720px;
}

.detail h1{
    font-size: 2rem;
}

.banner{
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    background: var(--main-color);
    padding: 5rem 0;
}

.banner h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: var(--bg-color);
    /* background: var(--bg-color);
    color: var(--main-color) */
}

.gallery {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto; 
}

.gallery h2{
    color: var(--main-color);
    font-size: 36px;
    text-align: center;
    margin: 32px;
    text-transform: uppercase;
}

.img-container {
    width: 100%;
    /* height: 500px; */
    cursor: pointer;
    overflow: hidden;
  }
.img-container:hover 
.img-content-hover {
    display: block;
}

.img-container img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    
}

.img-container img:hover {
    transform: scale(1.05);
}
  
.img-content-hover {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    display: none;
    padding: 1rem;
    background: white;
    font-weight: 400;
    margin-top: 1.25rem;
    margin-left: -2rem;
  }
  
.title {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
}
  
.category {
    font-size: 1rem;
    color: gray;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}
  
.img-content {
    display: none;
}
  
/* .social, .copyright {
    margin: 1rem;
} */
  
.social li {
    display: inline-block;
}
  
/* footer {
    padding: 1rem 0;
    background: $footer;
    text-align: center;
} */

/* Product Detail */

.product-detail{
    max-width: 1000px;
    margin: 0 auto;
    /* padding: 15px; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 4rem 0 1.5rem;
    align-items: baseline
}


/* Columns */
.left-column {
    width: 65%;
    position: relative;
}
   
.right-column {
    width: 35%;
    /* margin-top: 60px; */
}

/* Left Column */
.left-column img {
  width: 90%;
  position: absolute;
  border-radius: 0.5rem;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
  box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 20%);
}
 
.left-column img.active {
  opacity: 1;
}

/* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 10px;
}

.product-description span {
    font-size: 12px;
    color: var(--text-color);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.product-description h1 {
    font-weight: 600;
    font-size: 32px;
    color: var(--main-color);
    letter-spacing: -2px;
}

.product-description p {
    font-size: 14px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
    margin-bottom: 10px
}

/* Product Color */
.product-color {
    margin-bottom: 20px;
  }
   
.color-choose div {
    display: inline-block;
    margin-top: 10px;
  }
   
.color-choose input[type=radio] {
    display: none;
}
   
  .color-choose input[type=radio] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
  }
   
.color-choose input[type=radio] + label span {
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}
   
.color-choose input[type=radio]#red + label span {
    background-color: #C91524;
}

.color-choose input[type=radio]#blue + label span {
    background-color: #314780;
}

.color-choose input[type=radio]#black + label span {
    background-color: #323232;
}
   
.color-choose input[type=radio]:checked + label span {
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
}

/* Cable Configuration */
.cable-choose {
    margin-top: 10px;
    margin-bottom: 20px;
}
   
.cable-choose button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
}
   
.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
    border: 2px solid var(--main-color);
    outline: none;
}
   
.cable-config {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}
   
.cable-config a {
    /* color: #358ED7; */
    text-decoration: none;
    font-size: 12px;
    position: relative;
    margin: 10px 0;
    display: inline-block;
  }

.cable-config a:before {
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgba(53, 142, 215, 0.5);
    display: inline-block;
    text-align: center;
    line-height: 16px;
    opacity: 0.5;
    margin-right: 5px;
}

/* Product Price */
.product-price {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
   
.product-price span {
    font-size: 32px;
    font-weight: 400;
    color: #43474D;
    margin-right: 20px;
}
   
.cart-btn {
    display: inline-block;
    border-radius: 0.5rem;
    font-size: 16px;
    background: var(--main-color);
    color: var(--bg-color);
    text-decoration: none;
    padding: 12px 16px;
    transition: all .5s;
    font-weight: 500;
    margin-right: 10px;
}

.left:hover{
    background: var(--star);
    color: var(--text-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    transition: 0.3s ease;
}

.right:hover{
    background: var(--discount);
    color: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    transition: 0.3s ease;
} 

/* .cart-btn:hover {
    overflow: hidden;
    color: var(--main-color);
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    transition: 0.3s ease;
} */

/* .cart-btn:hover {
    overflow: hidden;
    color: var(--main-color);
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    transition: 0.3s ease;
} */

/* Responsive */
@media (max-width: 940px) {
    .container {
      flex-direction: column;
      margin-top: 60px;
    }
   
    .left-column,
    .right-column {
      width: 90%;
      margin-top: 100px;
    }
   
    .left-column img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
    }
  }
   
  @media (max-width: 535px) {
    .product-detail{
        max-width: 330px;
        display: flex;
        align-items: baseline;
        flex-direction: column;
        padding: 2rem 0px 1.5rem;
    }

    .product-description p{
        font-size: 12px;
    }

    .cable-choose {
        margin-top: 10px;
    }

    .left-column img {
        width: 330px;
        top: -125px;
        left: 1px;
        
    }
  }
  
@supports (display: grid) {
    .gallery .grid {
      grid-gap: 1rem;
    }
}
  
  
@media screen and (max-width: 1024px) {
    .img-container img:hover {
      transform: none;
    }
    
    .img-container {
      height: 100%;
    }

    .img-container:hover 
    .img-content-hover {
        display: none;
    }
  
    .img-content {
      display: block;
      padding: 1rem 0;
    }

    .detail{
        padding: 56px;
    }

    .detail h1{
        font-size: 1.8rem;
    }
}

@media (max-width: 642px){
    .img-container img{
        right: 0;
        width: 370px;
    }
}

@media (max-width: 370px){
    .gallery-container {
        right: 0;
        width: 200px;
        height: 620px;
        padding-top: 100px;
        object-fit: contain;
        grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
    }

    .img-content-hover{
        display: none;
    }

    /* .detail{
        padding: 0 120px;
    } */
}