.customers_form{
  padding-top: 6rem;
}

.customers_form h2{
  text-align: center;
}

.customers_form .action_form{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.register h3{
  margin: 20px 0;
}

.register .register-detail{
  margin-bottom: 30px;
}

.register .register-btn a{
  color: #000;
}


input[type=text], 
input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.register .register-btn a,
.login button {
  background-color: var(--main-color);
  color: var(--bg-color);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 0.5rem;
}

.register .register-btn a:hover,
.login button:hover {
  opacity: 0.8;
}

.login .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
/* 
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
} */

.register,
.login {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

span.psw {
  float: right;
  /* padding-top: 16px; */
}

<<<<<<< Updated upstream
span.psw a:hover{
  color: red;
=======
@media screen and (max-width: 420px) {
  .customers_form .action_form{
    flex-direction: column;
  }
>>>>>>> Stashed changes
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
