.product-detail{
    max-width: 1140px;
    margin: 0 auto;
    /* padding: 15px; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 8rem 0 1.5rem;
    align-items: baseline
}


/* Columns */
.left-column {
    width: 65%;
    position: relative;
}
   
.right-column {
    width: 35%;
    /* margin-top: 60px; */
}

/* Left Column */
.left-column img {
  width: 90%;
  position: absolute;
  border-radius: 0.5rem;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
  box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 20%);
}
 
.left-column img.active {
  opacity: 1;
}

/* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 10px;
}

.product-description span {
    font-size: 12px;
    color: var(--text-color);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.product-description h1 {
    font-weight: 600;
    font-size: 32px;
    color: var(--green-color);
    letter-spacing: -2px;
}

.product-description p {
    font-size: 14px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
    margin-bottom: 10px
}

/* Product Color */
.product-color {
    margin-bottom: 20px;
  }
   
.color-choose div {
    display: inline-block;
    margin-top: 10px;
  }
   
.color-choose input[type=radio] {
    display: none;
}
   
  .color-choose input[type=radio] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
  }
   
.color-choose input[type=radio] + label span {
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}
   
.color-choose input[type=radio]#red + label span {
    background-color: #C91524;
}

.color-choose input[type=radio]#blue + label span {
    background-color: #314780;
}

.color-choose input[type=radio]#black + label span {
    background-color: #323232;
}
   
.color-choose input[type=radio]:checked + label span {
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
}

/* Cable Configuration */
.cable-choose {
    margin-top: 10px;
    margin-bottom: 20px;
}
   
.cable-choose button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
}
   
.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
    border: 2px solid var(--green-color);
    outline: none;
}
   
.cable-config {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}
   
.cable-config a {
    color: #358ED7;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    margin: 10px 0;
    display: inline-block;
  }

.cable-config a:before {
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgba(53, 142, 215, 0.5);
    display: inline-block;
    text-align: center;
    line-height: 16px;
    opacity: 0.5;
    margin-right: 5px;
}

/* Product Price */
.product-price {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
   
.product-price span {
    font-size: 32px;
    font-weight: 400;
    color: #43474D;
    margin-right: 20px;
}
   
.cart-btn {
    display: inline-block;
    border-radius: 0.5rem;
    font-size: 16px;
    background: var(--green-color);
    color: var(--bg-color);
    text-decoration: none;
    padding: 12px 20px;
    transition: all .5s;
    font-weight: 500;
    margin-right: 10px;
}

.left:hover{
    background: var(--star);
    color: var(--text-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    transition: 0.3s ease;
}

.right:hover{
    background: var(--discount);
    color: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    transition: 0.3s ease;
} 

/* .cart-btn:hover {
    overflow: hidden;
    color: var(--green-color);
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    transition: 0.3s ease;
} */

/* .cart-btn:hover {
    overflow: hidden;
    color: var(--green-color);
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    transition: 0.3s ease;
} */

/* Responsive */
@media (max-width: 940px) {
    .container {
      flex-direction: column;
      margin-top: 60px;
    }
   
    .left-column,
    .right-column {
      width: 100%;
    }
   
    .left-column img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
    }
  }
   
  @media (max-width: 535px) {
    .left-column img {
      width: 220px;
      top: -85px;
    }
  }