.signup p,
.signup h1{
  text-align: center;
}

.signup p{
  font-size: 12px;
}

.form_signup{
  padding: 0 20px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for all buttons */
  .signup button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 10px;

  }
  
  .signup button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .signup .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .signup{
    max-width: 33.333%;
    margin-left: auto;
    margin-right: auto; 
  }

  .gg_icon .gg_ic{
    width: 90%;
    background-color: var(--star);
    font-size: 20px;
    padding: 10px 16px;
    margin: 8px 20px;
  }
  
  /* Clear floats */
  .clearfix{
    display: flex;
  }

  /* .clearfix::after {
    content: "";
    clear: both;
    display: table;
  } */

  .clearfix button{
    margin: 0 20px;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }