/*Google fronts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* Some variables*/
:root{
    --green-color: #211D70 ;
    --light-green-color: #3c36b3;
    /* --orange-color: #f49f0a;
    --light-orange-color: #f08700; */
    --text-color: #1a2428;
    --blur-text-color: #868a92;
    --bg-color: #fff;
    /* --box-1: #fef4ea; */
    /* --box-2: #e9f4e3; */
    /* --box-3: #faeaea; */
    --box-4: #eeeef9;
    /* --box-5:#f7f6d7; */
    --price: #003049;
    --discount: #d90429;
    --star: #ffb703;
    --blur-border: ##868a9270;
}

/*Custom scroll bar */
::-webkit-scrollbar{
    width: 0.5rem;
    background: var(--blur-border);
}

::-webkit-scrollbar-thumb{
    width: 0.5rem;
    border-radius: 5px;
    background: var(--green-color);
}

section{
    padding: 3rem 0 1.5rem;
}

.tag {
    /* opacity: 0.8; */
    /* transform: translate(0, 10vh);  */
    transition: all 1s;
}

.tag .visible{
    opacity: 1;
    transform: translate(0, 0);
}

img{
    width: 100%
}

body{
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    padding: 20px 100px;
    transition: 0.5s;
}

header input[type=text] {
    width: 130px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
  }
  
header input[type=text]:focus {
    width: 100%;
  }

.profile{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
}

.profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.profile span{
    font-size: 13px;
    font-weight: 500;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.5rem;
}

.logo .bx{
    font-size: 24px;
    color: var(--green-color);
}

.navbar{
    display: flex;
    column-gap: 0.5rem;
}

.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color:var(--text-color);
    padding: 0.5rem 1rem;
}

.navbar a:hover, 
.navbar .home-active{
    background: var(--green-color);
    border-radius: 0.5rem;
    color: var(--bg-color);
    transition: background 0.5s;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.home{
    position: relative;
}

/* .background{
    position: absolute;
} */

.container-1{
    position: relative;
    width: 100%;
    min-height: 640px;
    align-items: center;
    display: flex;
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    animation: fadeIn 2.5s;
}


.container-2{
    position: relative;
    width: 100%;
    min-height: 640px;
    align-items: center;
    display: flex;
    background: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container-3{
    position: relative;
    width: 100%;
    min-height: 640px;
    align-items: center;
    display: flex;
    background: url(../images/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* .container img{
    position: absolute;
    width: 600px;
    right: 200px;
} */

.home-text{
    /* margin-top: 200px; */
    padding: 0 220px;
    animation: fadeIn 2.5s;
    -webkit-animation: fadeIn 2.5s;
    -moz-animation: fadeIn 2.55s;
    -o-animation: fadeIn 2.5s;
    -ms-animation: fadeIn 2.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.home-text span{
    font-weight: 400;
    text-transform: uppercase;
    color: var(--bg-color);
}

.home-text h1{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--bg-color)
}

.btn{
    /* display: block; */
    padding: 0.6rem 1rem;
    background: var(--green-color);
    color: var(--bg-color);
    font-weight: 500;
    border-radius: 0.5rem;
    display: inline-flex;
    align-items: center;
    /* justify-content: space-between; */
    column-gap: 00.5rem;
    max-width: 160px;
    justify-content: center;
}


.btn .bx{
    padding: 4px;
    background: var(--bg-color);
    color: var(--text-color);
    border-radius: 1rem;
    font-size: 20px;
    /* margin: auto; */
}

.btn:hover{
    overflow: hidden;
    /* border: 1px solid var(--green-color); */
    color: var(--green-color);
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    transition: 0.3s ease;
}

.swiper-button-next{
    background: url(../images/right-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-right: 40px;
    color: #fff !important;
}
.swiper-button-next:after{
    display: none;
}

.swiper-button-prev{
    background: url(../images/left-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-left: 40px;
}

.swiper-button-prev:after{
    display: none;
}

.swiper-slide{
    animation-name: swiper-slide;
    animation-duration: 2s;
}

@keyframes swiper-slide {
    from {opacity: .5}
    to {opacity: 1}
  }

.heading{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.heading h1{
    font-size: 1.6rem;
    font-weight: 600;
}

.heading span{
    color: var(--green-color);
}

.categories{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.categories-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.categories-container .box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 0.5rem;
}

.categories-container .box img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.categories-container .box h2{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--green-color);
}

.categories-container .box span{
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
}

.categories-container .box .bx{
    padding: 10px;
    background: var(--green-color);
    color: var(--bg-color);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -8%;
    /* display: none; */
    transition: 0.2s ease-in; 
}

.categories-container .box .bx:hover{
    background: var(--bg-color);
    color: var(--green-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
}

.categories-container .box:hover .bx{
    display: block;
    transition: 0.2s all linear;
}

.box{
    flex: 1;
    /* border: 1px solid var(--blur-border); */
    border-radius: 0.3rem;
    /* box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%); */
}

/* .box-1{
    background: var(--box-4);
}

.box-2{
    background: var(--box-1);
}

.box-3{
    background: var(--box-1);
}

.box-4{
    background: var(--box-1);
}

.box-5{
    background: var(--box-1);
} */

.lightbox{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; 
}

.lightbox h2{
    color: var(--green-color);
    font-size: 36px;
    text-align: center;
    margin: 32px;
    text-transform: uppercase;
}

.row{
    position: relative;
}

.lightbox > .btn{
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translate(-50%, 25%);
}

.lightbox img{
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 0.3rem;
}

.row > .column {
    padding: 6px 8px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row-column{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}
  
.column {
    float: left;
    width: 50%;
}

.column-inside {
    float: left;
    width: 100%;
}
  
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}
  
  /* Modal Content */
.modal-content {
    position: relative;
    margin: 20px auto;
    padding: 0;
    width: 90%;
    max-width: 915px;
}
  
  /* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 65px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
  
.mySlides {
    display: none;
}
  
.cursor {
    cursor: pointer;
}
  
  /* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
  
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}
  
.demo {
    opacity: 0.6;
}
  
.active, .demo:hover {
    opacity: 1;
}
  
img.hover-shadow {
    transition: 0.5s;
   
}
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* transform: scale(1.1); */
}

.products{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto; 
}

.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.products-container .box{
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
    position: relative;
}

.products-container .box img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.products-container .box span{
    font-weight: 500;
    font-size: 13px;
}

.products-container .box h2{
    font-size: 1rem;
    font-weight: 600;
}

.products-container .box .price{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    color: var(--discount);
}

.products-container .box .price span{
    color: var(--text-color);
}

.products-container .box .bx-cart-alt{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: var(--green-color);
    color: var(--bg-color);
    font-size: 20px;
    border-radius: 0.5rem 0 0.5rem 0;
}

.products-container .box .bx-cart-alt:hover{
    background: var(--bg-color);
    color: var(--green-color);
    transition: 0.2s all linear;
}

.products-container .box .bx-heart{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 20px;
    color: var(--discount);
}

.products-container .box .discount{
    position: absolute;
    top: 1rem;
    left: 0;
    font-size: 20px;
    background: var(--discount);
    color: var(--bg-color);
    padding: 4px 18px;
    clip-path: polygon(0% 0%, 100% 0, 90% 50%, 100% 100%, 0% 100%);
}

.about{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem,auto));
    align-items: center;
    gap: 1.5rem;
}

.coming-soon{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.coming-soon h2{
    color: var(--green-color);
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
}

.about-text{
    text-align: center;
}

.about-text span{
    font-size: 32px;
    font-weight: 600;
    color: var(--green-color);
}

.about-text p{
    margin: 0.5rem 0 1rem;
}

/* .about-text .right{
    float: right;
} */

.customers{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.customers h2{
    text-transform: uppercase;
    text-align:center;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--green-color);
}

.customers-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.customers-container .box{
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
    border-bottom: 7px solid var(--green-color);
}

.customers-container .box:hover{
    transform: translateY(10px);
    transition: 0.2s all linear;
}

.customers-container .box .bx{
    font-size:24px;
    color: var(--text-color);
}

.customers-container .box .stars .bx{
    font-size: 1rem;
    color: var(--star);
}
.customers-container .box p{
    font-size: 0.938rem;
    font-style: italic;
}

.review-profile{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    column-gap: 0.5rem;
}

.review-profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.review-profile h3{
    font-size: 1rem;
    font-weight: 600;
}

.footer{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
    background: var(--box-4);
    border-radius: 0.5rem;
    padding: 20px;
}

.subscribe{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.subscribe-btn{
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translate(-50%, 5%);
    /* padding-bottom: 50px; */
}

.subscribe h2{
    color: var(--green-color);
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

.subscribe p{
    text-align: center;
    color: var(--text-color)
}

.subscribe input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
.subscribe-form{
    margin-top: 30px;
}

/* .subscribe input[type=checkbox] {
    margin-top: 16px;
} */
  
.subscribe input[type=submit] {
    position: absolute;
    background-color: var(--green-color);
    color: white;
    border: none;
    max-width: 120px;
    border-radius: 0.5rem;
    font-weight: 500;
    margin: 0;
    left: 50%;
    transform: translate(-50%, 5%);
}
  
input[type=submit]:hover {
    color: var(--green-color);
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    transition: 0.3s ease;
  }

.footer-box{
    display: flex;
    flex-direction: column;
}

.footer-box p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1rem;
}

.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social .bx{
    padding: 10px;
    background: var(--bg-color);
    color: var(--price);
    border-radius: 0.5rem;
    font-size: 20px;
}

.social .bx:hover{
    background: var(--green-color);
    color: var(--bg-color);
    transition: background 0.5s;
    transition: 0.2s all linear;
}

.footer-box h2{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer-box a{
    color: var(--blur-text-color);
    margin-bottom: 1rem;
}

.footer-box a:hover{
    color: var(--text-color);
}

.footer-box form{
    border-bottom: 1px solid var(--text-color);
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.footer-box form input{
    background: transparent;
    border: none;
    outline: none;
}

.footer-box form .bx{
    font-size: 20px;
    color:var(--green-color);
    cursor: pointer;
}

.footer-box form .bxs-envelope{
    color: var(--green-color);
}

.copyright{
    text-align: center;
    padding: 20px;
}

/* Responsive */
@media (max-width: 1080px){
    header{
        padding: 18px 60px;
    }

    .home-text{
        padding: 0 100px;
    }

    .container img{
        right: 100px;
    }
}

@media (max-width: 991px){
    header{
        padding: 18px 4%; 
    }

    section{
        padding: 25px 4%;
    }

    .home-text{
        padding: 0 5%;
    }

    .home-text h1{
        font-size: 2rem;
    }

    .swiper-button-next,
    .swiper-button-prev{
        margin: 0;
    }
}

@media (max-width: 852px){
    header{
        padding: 12px 4%;
    }

    #menu-icon{
        display: initial;
    }

    .close{
        top: 50px;
    }

    .navbar{
        position: absolute;
        top: -570px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
        transition: 0.2s all linear;
        text-align: left;
    }
    
    .navbar a{
        padding: 1rem;
        margin: 0.3rem;
        display: block;
    }
    
    .navbar a:hover,
    .navbar .home-active{
        border-radius: 00.5rem;
        color: var(--bg-color);
    }
    
    .active{
        top: 100%;
    }

    .home-text h1{
        font-size: 1.7rem;
    }

    .container img{
        width: 300px;
    }

    .btn{
        padding: 0.6rem 1.2rem;
    }

    .products-container {
        grid-template-columns: repeat(auto-fit, minmax(244px, auto));
    }
}

@media (max-width: 712px){
    .container img{
        right: 20px;
    }

    .heading h1{
        font-size: 1.2rem;
    }

    .about{
        grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
    }
    
    .about img{
        order: 2;
    }

    .about-text {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .btn{
        max-width: 164px;
    }

    .customers h2{
        font-size: 1.2rem;
    }

    .categories-container .box img{
        height: 230px;
    }
}

@media (max-width: 642px){
    .container img{
        right: 0;
        width: 370px;
    }
}

@media (max-width: 546px){
    .container img{
        right: 0;
        width: 200px;
        height: 620px;
        padding-top: 100px;
        object-fit: contain;
    }
}

@media (max-width: 370px){
    .logo{
        font-size: 1rem;
    }

    .profile img{
        width: 30px;
        height: 30px;
    }

    .profile span{
        font-size: 10px;
    }

    .categories-container > .box{
        gap: 2rem;
    }

    .home-text span{
        font-size: 0.8rem;
    }

    .home-text h1{
        font-size: 1.4rem;
    }

    .heading{
        flex-direction: column;
        text-align: center;
    }

    .heading .btn{
        margin-top: 1rem;
    }

    .categories-container{
        gap: 1.5;
    }
}